@tailwind base;
@tailwind components;
@tailwind utilities;

.shine::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.2), transparent);
  background-size: 200% 50%;
  pointer-events: none;
  opacity: 0; /* Hide initially */
  transition: opacity 0.3s; /* Smooth transition for the effect */
}

.shine:hover::after {
  opacity: 1; /* Show the effect on hover */
  animation: shine 5s linear;
}

@keyframes shine {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 50% 0;
  }
}

